# Build
dist/

# Jest
coverage/
.integration.test.env

# Miscellaneous
.DS_Store

# NPM
node_modules/

# Yarn
.yarn/*
!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# Junit
junit.xml
