process.env.AUDIT_BUCKET_NAME = 'audit-build-message-batch-txma2'
process.env.NOTIFY_API_KEY = 'NOTIFY_API_KEY'
process.env.TEST_DATA_BUCKET_NAME = 'txma-audit-dev-tools-build-test-data-bucket'
process.env.ZENDESK_ADMIN_EMAIL = 'txma-team2-ticf-admin-dev@test.gov.uk'
process.env.ZENDESK_AGENT_EMAIL = 'txma-team2-ticf-approver-dev@test.gov.uk'
process.env.ZENDESK_API_KEY = 'ZENDESK_API_KEY'
process.env.ZENDESK_END_USER_EMAIL = 'txma-team2-ticf-analyst-dev@test.gov.uk'
process.env.ZENDESK_HOSTNAME = 'ZENDESK_HOSTNAME'
process.env.ZENDESK_RECIPIENT_EMAIL = 'ZENDESK_RECIPIENT_EMAIL'
